projection=regular_ll
type=categorical
category_min=1
category_max=40
units="category"
description="###DESCRIPTION###"
dx=0.0026990952380951884
dy=0.0026983217054263567
known_x=1
known_y=129
known_lon=103.546360
known_lat=1.532738
wordsize=1
tile_bdr=0
missing_value=0
scale_factor=1.000000
row_order=top_bottom
endian=little
tile_x=210
tile_y=129
tile_z=1
signed=yes
mminlu = "MODIFIED_IGBP_MODIS_NOAH"